<% provide(:title, "News") %>

<div class="col-md-12">
  <p style="text-align:center"><%= image_tag('recipe.png')%></p>
</div>

<div class="container-fluid">
<div class="row">
<div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-12">
        <h4>News:</h4>
          <ul>
            <li><p>Week 3: Masonry gem, fixed errors, deploying to heroku, contact with sendgrid</p></li>
            <li><p>Week 2: Styling, chat, feed, follows users</p></li>
            <li><p>Week 1: I create working CRUD ability, nested comments, favoritet list, related recipes, ranking</p></li>
            <li><p>First commit to Recipe Mmm... was created 8 Oct, 2015</p></li>
          </ul>
        </div>
      </div>
</div>
</div>
</div>


