<% provide(:title, "Thanks" ) %>

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <br>
      <div class="col-md-12">
        <p style="text-align:center"><%= link_to image_tag('letter.jpg'), root_path %></p>
      </div>

      <div class="col-md-12">
      	<h4 style="text-align:center">Thank you from message!</h4>
      	<p style="text-align:center">I'll get back to you soon</p>
      </div>

    </div>
  </div>
</div>