/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'masonry/transitions'
 *= require social-share-button
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.replies {margin-left: 50px;}
.replies .replies .replies .replies .replies {margin-left: 0;}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.logo{
  margin: 5px;
  padding: 10px;
}

.body{
  padding: 2px;
}

.alert {
    margin-top: 0.65cm;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: white;
    border-radius: 6px 6px 6px 6px;
}

.navbar {
  border-radius: 6px 6px 
  
}

#mniams {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    border-color: #eaeff1;
    text-align: center;
    img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
     h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #2c3e50;
      }
      .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 15px;
      margin: 0;
    }
    }

  }
}

.hover13 figure:hover img {
  opacity: 1;
  -webkit-animation: flash 3.5s;
  animation: flash 3.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .7;
  }
  100% {
    opacity: 6;
  }
}
@keyframes flash {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}



#tag_cloud {
  width: 500px;
  line-height: 1.6em;
  .xxs { font-size: 0.8em; COLOR: #c3c4c4; }
  .xs { font-size: 1.0em; COLOR: #b9bdbd; }
  .s { font-size: 1.2em; COLOR: #b0b5b5; }
  .m { font-size: 1.4em; COLOR: #9da6a6; }
  .l { font-size: 1.6em; COLOR: #8a9797; }
  .xl { font-size: 1.8em; COLOR: #809090; }
  .xxl { font-size: 2.0em; COLOR: #778888; }
}


.img_small {
  border-radius: 6px 6px 6px 6px;
  border-color: #2c3e50;
  border: 3px solid;
  width: 35%;
  height: auto;

}

.img_show {
  border-radius: 6px 6px 6px 6px;
  border-color: #eaeff1;
  border: 2px;
  width: 95%;
  height: auto;
}

nav.share {display:inline-block;} 
nav.share div {float:right;}
nav.share iframe {border:0; margin-top:0; padding-top:0;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}

.text_tip {
  text-align: left;  
}

.aaa {
  color: #2c3e50;
}

.img_related {
  height: 55px; 
  width: 55px; 
  border-radius: 5px 5px 5px 5px;
}

.related {
  
  display: inline;
}

.user_img {
  border-radius: 6px 6px 6px 6px;
  border-color: #2c3e50;
  border: 1px;
}

.hidden {
  display: none;
}

.top_img {
  border-radius: 6px 6px 6px 6px;
  border-color: #000;
  border: 1px solid;
}

.about {
  width: 100%;
  height: 100%;
  background: url("foode.jpg") no-repeat center center;
  background-size: cover
}

.abouts {
  width: 100%;
  height: 100%;
  background: url("foods.jpg") no-repeat center center;
  background-size: cover
}